{% extends "bootstrap/base.html" %}
<!--<!doctype html>-->

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>キーワード抽出デモ</title>
    <meta content="" property="og:title" />
    <meta content="" property="og:description" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@unpuy_tw" />
    <meta property="og:title" content="キーワード抽出デモ" />
    <meta property="og:description" content="Wikipediaを用いたキーワード抽出のデモ" />

    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<p>aaaa</p>
    {% block content %}{% endblock %}
</body>
</html>

